@import '../../_variables'

.App
  &__custom-select
    position: relative
    width: 100%
    padding: 14px
    border-radius: $formInputBorderRadius
    border: 1px solid $formInputBorder
    color: $formInputColor
    outline: none
    z-index: 3

    &.error
      border: 1px solid $formInputBorderError

    &__arrow
      position: absolute
      top: 50%
      right: 14px
      transform: translateY(-50%)
      transition: transform 0.3s ease
      width: 14px
      height: 14px
      &.opened
        transform: translateY(-50%) rotate(-180deg)
      svg
        width: 100%
        height: 100%

  &__selected-option
    display: flex
    justify-content: space-between
    align-items: center
    cursor: pointer
    user-select: none
    font-size: 8px
    &.selected
      color: $formInputColorActive

  &__options
    width: calc(100% + 2px)
    list-style: none
    padding: 0
    margin: 0
    position: absolute
    top: calc(100% + 4px)
    left: -1px
    right: 0
    background-color: #fff
    display: none
    max-height: 175px
    overflow-y: auto
    z-index: 2
    padding: 0 14px
    border-radius: $formInputBorderRadius
    border: 1px solid $formInputBorder
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08)

    .open &
      display: block

    li
      padding: 14px 0
      cursor: pointer
      color: $formInputColor
      border-bottom: solid 1px $formInputBorder
      transition: color 0.3s ease
      will-change: color
      &:hover
        color: $formInputColorActive
        font-weight: 700

@media (min-width: $layout-breakpoint-mobile-xs)
  .App
    &__selected-option
      font-size: 12px