$formBodyBcg: #ffffff
$formBodyShadowColor: rgba(0, 0, 0, 0.15)
$formBorderRadius: 4px

.App__form
  position: relative
  width: 100%
  max-width: 250px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: $formBodyBcg
  box-shadow: 0px 4px 4px 0px $formBodyShadowColor
  border-radius: $formBorderRadius
  padding: 20px 16px
  margin: 30px auto 40px auto
  gap: 10px

  .App__modal-container &
    max-width: 300px

  &__error-wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin: 0