$formBodyBcg: #ffffff
$formBorderRadius: 4px

.App__form
  position: relative
  width: 100%
  max-width: 250px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: $formBodyBcg
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15)
  border-radius: $formBorderRadius
  padding: 20px 16px
  margin: 30px auto 40px auto
  gap: 10px

  &__error
    display: block
    font-size: 12px
    font-weight: 700
    color: red
    text-align: center
    margin: 5px 0