@import '../../_variables'

.App
  &__toast-container
    position: absolute
    bottom: 5vh
    width: auto
    min-width: 200px
    max-width: 200px
    display: flex
    align-items: center
    background-color: $toastContainerBcg
    border-radius: $toastContainerBorderRadius
    padding: 6px 16px
    box-shadow: $toastContainerBoxSHadow
    z-index: 10
    gap: 8px
    animation: toast-in-right 2s
    transition: transform 2s, opacity 2s, box-shadow 2s ease-in-out

  &__toast-text
    display: block
    width: 100%
    font-size: 12px
    font-weight: 700
    text-align: center
    color: $toastTextColor

    .success &
      color: $toastTextColorSuccess
    .info &
      color: $toastTextColorInfo
    .error &
      color: $toastTextColorError

@keyframes toast-in-right
  from
    transform: translateX(100%)
  to
    transform: translateX(0)