@import '../../_variables'

.App__form
  input
    width: 100%
    padding: 14px
    border-radius: $formInputBorderRadius
    border: 1px solid $formInputBorder
    color: $formInputColor
    outline: none
    transition: border 0.3s ease
    will-change: border
    font-size: 12px
    appearance: none

    &:focus
      border: 1px solid $formInputBorderFocus

    &::-webkit-input-placeholder
      color: $formInputPlaceholderColor
      font-size: 12px
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button
      appearance: none

    &.error
      border: 1px solid $formInputBorderError