@import '../../_variables'

.App__form
  input
    width: 100%
    padding: 14px
    border-radius: $formInputBorderRadius
    border: 1px solid $formInputBorder
    color: $formInputColor
    outline: none
    transition: border 0.3s ease
    font-size: 8px

    &:focus
      border: 1px solid $formInputBorderFocus

    &::-webkit-input-placeholder
      color: $formInputPlaceholderColor
      font-size: 8px

    &.error
      border: 1px solid $formInputBorderError

@media (min-width: $layout-breakpoint-mobile-xs)
  .App__form
    input
      font-size: 12px
      &::-webkit-input-placeholder
        font-size: 12px