$formBodyBcg: #ffffff
$formBorderRadius: 4px
$tableHeadBcg: #0A508B
$tableHeadColor: #ffffff
$tableBodyBcg: #ffffff
$tableBodyBorder: #EBEBEB

.App
  width: 100%
  padding: 10px
  height: auto
  display: flex
  flex-direction: column
  align-items: center

  &__form
    position: relative
    width: 100%
    max-width: 250px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: $formBodyBcg
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15)
    border-radius: $formBorderRadius
    padding: 20px 16px
    margin: 30px auto 40px auto
    gap: 10px

  &__table
    width: 100%
    max-width: 600px
    border-collapse: collapse
    text-align: left

    td,
    th
      padding: 9px 12px
      gap: 1px
    
    td
      border: solid 1px $tableBodyBorder

  &__thead
    background-color: $tableHeadBcg
    color: $tableHeadColor
    opacity: 0.5

  &__tbody
    background-color: $tableBodyBcg
    border-collapse: separate