$pageBcg: #E5E8ED
$pageBcgDark: #1C1C1C
$pageColor: #868A8D
  
.App
  width: 100%
  height: 100%
  min-height: 100%
  padding: 35px 10px
  height: auto
  display: flex
  flex-direction: column
  align-items: center
  background-color: $pageBcg
  color: $pageColor
  transition: background-color 0.3s ease, color 0.3s ease

  &.dark-theme
    background-color: $pageBcgDark