$tableHeadBcg: #0A508B
$tableHeadBcgDark: #1493FE
$tableHeadColor: rgba(255, 255, 255, 0.5)
$tableHeadColorDark: #FFFFFF
$tableBodyBcg: #ffffff
$tableBodyBorder: #EBEBEB
$layout-breakpoint-mobile-xs: 500px
$layout-breakpoint-mobile: 768px

.App__table
  width: 100%
  max-width: 100%
  border-collapse: collapse
  text-align: left

  td,
  th
    padding: 6px
    font-size: 8px
    
  td
    border: solid 1px $tableBodyBorder
    word-break: break-all
    min-width: 65px
    &.wide
      border: none
      border-bottom: solid 1px $tableBodyBorder
      display: flex
      justify-content: space-around
      min-width: 75px
      padding: 6px 3px
    &.narrow
      min-width: 30px

.App__thead
  background-color: $tableHeadBcg
  color: $tableHeadColor
  transition: background-color 0.3s ease, color 0.3s ease

  .dark-theme &
    background-color: $tableHeadBcgDark
    color: $tableHeadColorDark

.App__tbody
  background-color: $tableBodyBcg
  border-collapse: separate
  transition: background-color 0.3s ease

@media (min-width: $layout-breakpoint-mobile-xs)
  .App__table
    td,
    th
      font-size: 12px

@media (min-width: $layout-breakpoint-mobile)
  .App__table
    max-width: 600px

    td,
    th
      padding: 9px 12px
      font-size: 12px

    td
      &.wide
        min-width: 120px
