$pageBcg: #E5E8ED
$pageBcgDark: #1C1C1C
$pageColor: #868A8D

$formButtonBcg: #1493FE
$formButtonBcgDisabled: #C2CBD1
$formButtonColor: #ffffff
$formButtonColorEdit: #057AE3
$formButtonColorDelete: #B0263D
$formButtonRadius: 4px

$formBodyBcg: #ffffff
$formBodyShadowColor: rgba(0, 0, 0, 0.15)
$formBorderRadius: 4px
$formErrorTextColor: #CC0000

$formInputBorderRadius: 4px
$formInputBorder: #E6ECEF
$formInputBorderFocus: #1493FE
$formInputBorderError: #CC0000
$formInputColor: #000000
$formInputPlaceholderColor: #868A8D

$formInputBorderRadius: 4px
$formInputBorder: #E6ECEF
$formInputColor: #868A8D
$formInputColorActive: #212229

$modalBodyBcg: rgba(0,0,0,.4)
$modalBodyBcgDark: rgba(0,0,0,.6)
$modalTitleColor: #0A508B

$switchBackgroundColor: #C2CBD1
$switchBackgroundColorActive: #1493FE
$switchBoxShadow: rgba(0,0,0,.05)
$switchBorderRadius: 18px
$switchToggleBcg: #FFFFFF
$switchToggleBorderRadius: 40px
$switchToggleBoxShadow: rgba(0,0,0,.5)
$switchTitleColor: #868A8D
$switchTitleColorDark: #FFFFFF

$tableHeadBcg: #0A508B
$tableHeadBcgDark: #1493FE
$tableHeadColor: rgba(255, 255, 255, 0.5)
$tableHeadColorDark: #FFFFFF
$tableBodyBcg: #ffffff
$tableBodyBorder: #EBEBEB

$layout-breakpoint-mobile: 768px
$layout-breakpoint-mobile-xs: 500px